# Adaboost

## Create Model

In [ ]:
# import library
from numpy import mean
from numpy import std
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import AdaBoostRegressor

In [ ]:
# mount data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import data
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Supervised Kaggle/Train.csv')

In [ ]:
# show data
dataset.head()

       date       day  ...  no_of_workers  actual_productivity
0  1/1/2015  Thursday  ...           60.0             0.521180
1  1/3/2015  Saturday  ...           60.0             0.700134
2  1/4/2015    Sunday  ...           55.5             0.800598
3  1/5/2015    Monday  ...           57.5             0.800077
4  1/6/2015   Tuesday  ...           57.5             0.800594

[5 rows x 12 columns]

In [ ]:
# define dataset X and y
X, y = dataset.iloc[:,2:11], dataset.iloc[:,11]

In [ ]:
# show predictor variable
X.head()

   targeted_productivity    smv  ...  no_of_style_change  no_of_workers
0                   0.65  23.69  ...                   0           60.0
1                   0.70  23.69  ...                   0           60.0
2                   0.80  28.08  ...                   0           55.5
3                   0.80  28.08  ...                   0           57.5
4                   0.80  28.08  ...                   0           57.5

[5 rows x 9 columns]

In [ ]:
# show response variable
y.head()

0    0.521180
1    0.700134
2    0.800598
3    0.800077
4    0.800594
Name: actual_productivity, dtype: float64

In [ ]:
# data shape
dataset.shape

(48, 12)

In [ ]:
# define the model
model = AdaBoostRegressor()
model.fit(X,y)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

In [ ]:
# predict data
model.predict(X)

array([0.56303198, 0.66558761, 0.77712554, 0.79000324, 0.79373849,
       0.79373849, 0.82255413, 0.80903357, 0.48437615, 0.35065747,
       0.5159802 , 0.58866361, 0.62673913, 0.73775848, 0.73775848,
       0.75028041, 0.75028041, 0.88778628, 0.85004978, 0.88613746,
       0.88778628, 0.8084425 , 0.80043462, 0.78202126, 0.88027281,
       0.88027281, 0.8084425 , 0.78202126, 0.80503977, 0.35067705,
       0.5065658 , 0.58872743, 0.58872743, 0.74151547, 0.73037778,
       0.70055727, 0.66558761, 0.69037707, 0.66558761, 0.69759159,
       0.75028041, 0.79000324, 0.80037693, 0.80037693, 0.75510032,
       0.79373849, 0.79373849, 0.49561751])

In [ ]:
# create mape function
import numpy as np

def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [ ]:
# calculate mape in training
mean_absolute_percentage_error(y,model.predict(X))

2.7307175721664194

## Predict in Test Data

In [ ]:
# import test data
test=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Supervised Kaggle/Test.csv')

In [ ]:
# define predictor variable in test
X_test = test.iloc[:,2:11]

In [ ]:
# show predictor variable
X_test.head()

   targeted_productivity    smv  ...  no_of_style_change  no_of_workers
0                   0.80  30.10  ...                   2           59.0
1                   0.50  26.66  ...                   2           58.0
2                   0.60  26.66  ...                   0           57.0
3                   0.65  26.66  ...                   0           57.0
4                   0.70  26.66  ...                   0           58.0

[5 rows x 9 columns]

In [ ]:
# predict test data
model.predict(X_test)

array([0.49561751, 0.53585199, 0.57181121, 0.7005417 , 0.74687099,
       0.75028041, 0.74687099, 0.75028041, 0.79261108, 0.79373849,
       0.79373849])

In [ ]:
# save predict in test data
df = pd.DataFrame(model.predict(X_test))

In [ ]:
# create dataset for kaggle submission
hasil=pd.DataFrame()
hasil['id']=[1,2,3,4,5,6,7,8,9,10,11]
hasil['actual_productivity']=model.predict(X_test)
hasil.head()

   id  actual_productivity
0   1             0.495618
1   2             0.535852
2   3             0.571811
3   4             0.700542
4   5             0.746871

In [ ]:
# save to csv
hasil.to_csv('/content/drive/MyDrive/Colab Notebooks/Supervised Kaggle/submission.csv', index=False)